package main 
templ AccordianContent(name string, content any) {
    <div>
    switch (name) {
        case "project":
                @Project(content.([]ProjectCard))
        case "skills":
        <div> skills</div>
        case "education":
        <div> education</div>
        default:
        <div> default</div>
    }
    </div>
}