package main
templ Project(cards []ProjectCard){
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 pb-4">
                    for _, card := range cards {
                        <div class="min-w-0 flex-1">
                            @Card(card)
                        </div>
                    }
                </div>

}